In [2]:
# importing necessary libraries
import numpy as np
import pandas as pd

In [3]:
# loading the data
#Loading the heart_disease_uci dataset
train_data = pd.read_csv('..\data\heart_disease\data_train.csv')
test_data = pd.read_csv('..\data\heart_disease\data_test.csv')
train_data.head()

,id,age,trestbps,chol,thalch,oldpeak,ca,sex_0.0,sex_1.0,dataset_0.0,...,restecg_2.0,exang_0.0,exang_1.0,slope_0.0,slope_1.0,slope_2.0,thal_0.0,thal_1.0,thal_2.0,num
0,881,62,148.68,170.00,120.00,3.000,1.0,0,1,0,...,1,0,1,1,0,0,0,0,1,1
1,458,54,150.00,213.74,122.00,0.000,0.0,0,1,0,...,0,1,0,0,0,1,0,0,1,0
2,798,51,135.82,339.00,130.62,3.066,2.0,0,1,0,...,0,0,1,0,1,0,0,0,1,1
3,26,50,120.00,219.00,158.00,1.600,0.0,1,0,1,...,0,1,0,0,1,0,0,1,0,0
4,85,52,120.00,325.00,172.00,0.200,0.0,0,1,1,...,0,1,0,0,0,1,0,1,0,0

In [4]:
# Loading predictions from the models
bert_pred = pd.read_csv('results/bert.csv')
traditional_pred = pd.read_csv('results/traditional.csv')

print(bert_pred.head())

   0
0  0
1  0
2  1
3  1
4  1

In [8]:
# Merging the predictions with the test data
test_data['traditional_pred'] = traditional_pred
test_data['bert_pred'] = bert_pred
stacked_data = test_data[['traditional_pred', 'bert_pred',]]

In [9]:
stacked_data.head()

   traditional_pred  bert_pred
0                 0          0
1                 0          0
2                 1          1
3                 1          1
4                 1          1

In [1]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

# Split the stacked features and labels for training and validation
X_train_stack, X_val_stack, y_train_stack, y_val_stack = train_test_split(stacked_data, y_test, test_size=0.2, random_state=42)

# Train the meta-model (Logistic Regression here)
meta_model = LogisticRegression()
meta_model.fit(X_train_stack, y_train_stack)

# Predict on the validation set
meta_preds = meta_model.predict(X_val_stack)

# Evaluate the meta-model performance
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

accuracy = accuracy_score(y_val_stack, meta_preds)
precision = precision_score(y_val_stack, meta_preds)
recall = recall_score(y_val_stack, meta_preds)
f1 = f1_score(y_val_stack, meta_preds)

print(f"Meta Model - Accuracy: {accuracy:.4f}, Precision: {precision:.4f}, Recall: {recall:.4f}, F1-Score: {f1:.4f}")

NameError: name 'stacked_features' is not defined