In [13]:
# importing necessary libraries
import numpy as np
import pandas as pd

In [14]:
#Loading the heart_disease_uci dataset
train_data = pd.read_csv('..\data\heart_disease\data_train.csv')
test_data = pd.read_csv('..\data\heart_disease\data_test.csv')
train_data.head()

,id,age,trestbps,chol,thalch,oldpeak,ca,sex_0.0,sex_1.0,dataset_0.0,...,restecg_2.0,exang_0.0,exang_1.0,slope_0.0,slope_1.0,slope_2.0,thal_0.0,thal_1.0,thal_2.0,num
0,881,62,148.68,170.00,120.00,3.000,1.0,0,1,0,...,1,0,1,1,0,0,0,0,1,1
1,458,54,150.00,213.74,122.00,0.000,0.0,0,1,0,...,0,1,0,0,0,1,0,0,1,0
2,798,51,135.82,339.00,130.62,3.066,2.0,0,1,0,...,0,0,1,0,1,0,0,0,1,1
3,26,50,120.00,219.00,158.00,1.600,0.0,1,0,1,...,0,1,0,0,1,0,0,1,0,0
4,85,52,120.00,325.00,172.00,0.200,0.0,0,1,1,...,0,1,0,0,0,1,0,1,0,0

In [15]:
from transformers import AutoModelForCausalLM, AutoTokenizer, AutoConfig
from accelerate import init_empty_weights, load_checkpoint_and_dispatch

# Load the Mistral model and tokenizer from Hugging Face
model_name = "mistralai/Mistral-7B-v0.1"
token = "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"

# Ensure compatibility by using AutoTokenizer and AutoModel
tokenizer = AutoTokenizer.from_pretrained(model_name, token=token)

# Load the model configuration
config = AutoConfig.from_pretrained(model_name)

# Initialize an empty model
with init_empty_weights():
    model = AutoModelForCausalLM.from_config(config)


# Ensure pad_token_id is set
if tokenizer.pad_token_id is None:
    tokenizer.pad_token_id = tokenizer.eos_token_id

In [17]:
# creating examples for incontext learning
examples= train_data.head(10).to_dict(orient='records')
new_instance = train_data.iloc[10].to_dict()  # Use the tenth row as the new instance for prediction
examples

[{'id': 881,
  'age': 62,
  'trestbps': 148.68,
  'chol': 170.0,
  'thalch': 120.0,
  'oldpeak': 3.0,
  'ca': 1.0,
  'sex_0.0': 0,
  'sex_1.0': 1,
  'dataset_0.0': 0,
  'dataset_1.0': 0,
  'dataset_2.0': 0,
  'dataset_3.0': 1,
  'cp_0.0': 1,
  'cp_1.0': 0,
  'cp_2.0': 0,
  'cp_3.0': 0,
  'fbs_0.0': 1,
  'fbs_1.0': 0,
  'restecg_0.0': 0,
  'restecg_1.0': 0,
  'restecg_2.0': 1,
  'exang_0.0': 0,
  'exang_1.0': 1,
  'slope_0.0': 1,
  'slope_1.0': 0,
  'slope_2.0': 0,
  'thal_0.0': 0,
  'thal_1.0': 0,
  'thal_2.0': 1,
  'num': 1},
 {'id': 458,
  'age': 54,
  'trestbps': 150.0,
  'chol': 213.74,
  'thalch': 122.0,
  'oldpeak': 0.0,
  'ca': 0.0,
  'sex_0.0': 0,
  'sex_1.0': 1,
  'dataset_0.0': 0,
  'dataset_1.0': 1,
  'dataset_2.0': 0,
  'dataset_3.0': 0,
  'cp_0.0': 0,
  'cp_1.0': 0,
  'cp_2.0': 1,
  'cp_3.0': 0,
  'fbs_0.0': 1,
  'fbs_1.0': 0,
  'restecg_0.0': 0,
  'restecg_1.0': 1,
  'restecg_2.0': 0,
  'exang_0.0': 1,
  'exang_1.0': 0,
  'slope_0.0': 0,
  'slope_1.0': 0,
  'slope_2.0': 1,
  'thal_0.0': 0,
  'thal_1.0': 0,
  'thal_2.0': 1,
  'num': 0},
 {'id': 798,
  'age': 51,
  'trestbps': 135.82,
  'chol': 339.0,
  'thalch': 130.62,
  'oldpeak': 3.0660000000000007,
  'ca': 2.0,
  'sex_0.0': 0,
  'sex_1.0': 1,
  'dataset_0.0': 0,
  'dataset_1.0': 0,
  'dataset_2.0': 0,
  'dataset_3.0': 1,
  'cp_0.0': 0,
  'cp_1.0': 0,
  'cp_2.0': 1,
  'cp_3.0': 0,
  'fbs_0.0': 1,
  'fbs_1.0': 0,
  'restecg_0.0': 0,
  'restecg_1.0': 1,
  'restecg_2.0': 0,
  'exang_0.0': 0,
  'exang_1.0': 1,
  'slope_0.0': 0,
  'slope_1.0': 1,
  'slope_2.0': 0,
  'thal_0.0': 0,
  'thal_1.0': 0,
  'thal_2.0': 1,
  'num': 1},
 {'id': 26,
  'age': 50,
  'trestbps': 120.0,
  'chol': 219.0,
  'thalch': 158.0,
  'oldpeak': 1.6,
  'ca': 0.0,
  'sex_0.0': 1,
  'sex_1.0': 0,
  'dataset_0.0': 1,
  'dataset_1.0': 0,
  'dataset_2.0': 0,
  'dataset_3.0': 0,
  'cp_0.0': 0,
  'cp_1.0': 0,
  'cp_2.0': 1,
  'cp_3.0': 0,
  'fbs_0.0': 1,
  'fbs_1.0': 0,
  'restecg_0.0': 0,
  'restecg_1.0': 1,
  'restecg_2.0': 0,
  'exang_0.0': 1,
  'exang_1.0': 0,
  'slope_0.0': 0,
  'slope_1.0': 1,
  'slope_2.0': 0,
  'thal_0.0': 0,
  'thal_1.0': 1,
  'thal_2.0': 0,
  'num': 0},
 {'id': 85,
  'age': 52,
  'trestbps': 120.0,
  'chol': 325.0,
  'thalch': 172.0,
  'oldpeak': 0.2,
  'ca': 0.0,
  'sex_0.0': 0,
  'sex_1.0': 1,
  'dataset_0.0': 1,
  'dataset_1.0': 0,
  'dataset_2.0': 0,
  'dataset_3.0': 0,
  'cp_0.0': 0,
  'cp_1.0': 1,
  'cp_2.0': 0,
  'cp_3.0': 0,
  'fbs_0.0': 1,
  'fbs_1.0': 0,
  'restecg_0.0': 0,
  'restecg_1.0': 1,
  'restecg_2.0': 0,
  'exang_0.0': 1,
  'exang_1.0': 0,
  'slope_0.0': 0,
  'slope_1.0': 0,
  'slope_2.0': 1,
  'thal_0.0': 0,
  'thal_1.0': 1,
  'thal_2.0': 0,
  'num': 0},
 {'id': 11,
  'age': 57,
  'trestbps': 140.0,
  'chol': 192.0,
  'thalch': 148.0,
  'oldpeak': 0.4,
  'ca': 0.0,
  'sex_0.0': 0,
  'sex_1.0': 1,
  'dataset_0.0': 1,
  'dataset_1.0': 0,
  'dataset_2.0': 0,
  'dataset_3.0': 0,
  'cp_0.0': 1,
  'cp_1.0': 0,
  'cp_2.0': 0,
  'cp_3.0': 0,
  'fbs_0.0': 1,
  'fbs_1.0': 0,
  'restecg_0.0': 0,
  'restecg_1.0': 1,
  'restecg_2.0': 0,
  'exang_0.0': 1,
  'exang_1.0': 0,
  'slope_0.0': 0,
  'slope_1.0': 1,
  'slope_2.0': 0,
  'thal_0.0': 1,
  'thal_1.0': 0,
  'thal_2.0': 0,
  'num': 0},
 {'id': 347,
  'age': 40,
  'trestbps': 130.0,
  'chol': 281.0,
  'thalch': 167.0,
  'oldpeak': 0.0,
  'ca': 0.0,
  'sex_0.0': 0,
  'sex_1.0': 1,
  'dataset_0.0': 0,
  'dataset_1.0': 1,
  'dataset_2.0': 0,
  'dataset_3.0': 0,
  'cp_0.0': 0,
  'cp_1.0': 0,
  'cp_2.0': 1,
  'cp_3.0': 0,
  'fbs_0.0': 1,
  'fbs_1.0': 0,
  'restecg_0.0': 0,
  'restecg_1.0': 1,
  'restecg_2.0': 0,
  'exang_0.0': 1,
  'exang_1.0': 0,
  'slope_0.0': 0,
  'slope_1.0': 0,
  'slope_2.0': 1,
  'thal_0.0': 0,
  'thal_1.0': 1,
  'thal_2.0': 0,
  'num': 0},
 {'id': 549,
  'age': 54,
  'trestbps': 200.0,
  'chol': 198.0,
  'thalch': 142.0,
  'oldpeak': 2.0,
  'ca': 1.0,
  'sex_0.0': 0,
  'sex_1.0': 1,
  'dataset_0.0': 0,
  'dataset_1.0': 1,
  'dataset_2.0': 0,
  'dataset_3.0': 0,
  'cp_0.0': 1,
  'cp_1.0': 0,
  'cp_2.0': 0,
  'cp_3.0': 0,
  'fbs_0.0': 1,
  'fbs_1.0': 0,
  'restecg_0.0': 0,
  'restecg_1.0': 1,
  'restecg_2.0': 0,
  'exang_0.0': 0,
  'exang_1.0': 1,
  'slope_0.0': 0,
  'slope_1.0': 1,
  'slope_2.0': 0,
  'thal_0.0': 0,
  'thal_1.0': 0,
  'thal_2.0': 1,
  'num': 1},
 {'id': 637,
  'age': 52,
  'trestbps': 95.0,
  'chol': 0.0,
  'thalch': 82.0,
  'oldpeak': 0.7160000000000001,
  'ca': 1.0,
  'sex_0.0': 0,
  'sex_1.0': 1,
  'dataset_0.0': 0,
  'dataset_1.0': 0,
  'dataset_2.0': 1,
  'dataset_3.0': 0,
  'cp_0.0': 1,
  'cp_1.0': 0,
  'cp_2.0': 0,
  'cp_3.0': 0,
  'fbs_0.0': 1,
  'fbs_1.0': 0,
  'restecg_0.0': 0,
  'restecg_1.0': 1,
  'restecg_2.0': 0,
  'exang_0.0': 0,
  'exang_1.0': 1,
  'slope_0.0': 0,
  'slope_1.0': 1,
  'slope_2.0': 0,
  'thal_0.0': 0,
  'thal_1.0': 0,
  'thal_2.0': 1,
  'num': 1},
 {'id': 595,
  'age': 56,
  'trestbps': 155.0,
  'chol': 342.0,
  'thalch': 150.0,
  'oldpeak': 3.0,
  'ca': 2.0,
  'sex_0.0': 0,
  'sex_1.0': 1,
  'dataset_0.0': 0,
  'dataset_1.0': 1,
  'dataset_2.0': 0,
  'dataset_3.0': 0,
  'cp_0.0': 1,
  'cp_1.0': 0,
  'cp_2.0': 0,
  'cp_3.0': 0,
  'fbs_0.0': 0,
  'fbs_1.0': 1,
  'restecg_0.0': 0,
  'restecg_1.0': 1,
  'restecg_2.0': 0,
  'exang_0.0': 0,
  'exang_1.0': 1,
  'slope_0.0': 0,
  'slope_1.0': 1,
  'slope_2.0': 0,
  'thal_0.0': 0,
  'thal_1.0': 0,
  'thal_2.0': 1,
  'num': 1}]