In [1]:
#importing n ecessary library
import numpy as np
import pandas as pd

In [2]:
# reading the tes and train data
#Loading the heart_disease_uci dataset
train_data = pd.read_csv('..\data\heart_disease\data_train.csv')
test_data = pd.read_csv('..\data\heart_disease\data_test.csv')
train_data.head()

,id,age,trestbps,chol,thalch,oldpeak,ca,sex_0.0,sex_1.0,dataset_0.0,...,restecg_2.0,exang_0.0,exang_1.0,slope_0.0,slope_1.0,slope_2.0,thal_0.0,thal_1.0,thal_2.0,num
0,881,62,148.68,170.00,120.00,3.000,1.0,0,1,0,...,1,0,1,1,0,0,0,0,1,1
1,458,54,150.00,213.74,122.00,0.000,0.0,0,1,0,...,0,1,0,0,0,1,0,0,1,0
2,798,51,135.82,339.00,130.62,3.066,2.0,0,1,0,...,0,0,1,0,1,0,0,0,1,1
3,26,50,120.00,219.00,158.00,1.600,0.0,1,0,1,...,0,1,0,0,1,0,0,1,0,0
4,85,52,120.00,325.00,172.00,0.200,0.0,0,1,1,...,0,1,0,0,0,1,0,1,0,0

In [9]:
#checking count of sex
print(train_data['sex_1.0'].value_counts())
print(train_data['sex_0.0'].value_counts())

1    586
0    150
Name: sex_1.0, dtype: int64
0    586
1    150
Name: sex_0.0, dtype: int64

In [10]:
# separating the independent and dependent variables
X_train = train_data.drop(columns=['num'])
y_train = train_data['num']