In [21]:
#importing n ecessary library
import numpy as np
import pandas as pd

In [22]:
# reading the tes and train data
#Loading the heart_disease_uci dataset
train_data = pd.read_csv('..\data\heart_disease\data_train.csv')
test_data = pd.read_csv('..\data\heart_disease\data_test.csv')
train_data.head()

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,881,62,1.0,3.0,0.0,146.12,170.00,0.0,2.0,120.00,1.0,3.000,0.0,0.0,2.0,1
1,458,54,1.0,1.0,2.0,150.00,216.98,0.0,1.0,122.00,0.0,0.000,2.0,0.0,2.0,0
2,798,51,1.0,3.0,2.0,134.86,339.00,0.0,1.0,132.41,1.0,2.943,1.0,0.0,2.0,1
3,26,50,0.0,0.0,2.0,120.00,219.00,0.0,1.0,158.00,0.0,1.600,1.0,0.0,1.0,0
4,85,52,1.0,0.0,1.0,120.00,325.00,0.0,1.0,172.00,0.0,0.200,2.0,0.0,1.0,0

In [23]:
#checking count of sex
print(train_data['sex'].value_counts())

1.0    586
0.0    150
Name: sex, dtype: int64

In [24]:
# separating the independent and dependent variables in train data treating sex as target
X_train = train_data.drop(columns=['sex'])
y_train = train_data['sex']

In [25]:
# separating the independent and dependent variables in test data
X_test = test_data.drop(columns=['sex'])
y_test = test_data['sex']

In [26]:
from imblearn.over_sampling import SMOTE

# Apply SMOTE to balance the 'sex' feature
smote = SMOTE(sampling_strategy='auto', random_state=42)  # 'auto' balances the minority class
X_resampled, y_resampled = smote.fit_resample(X_train, y_train)

# Combine the resampled 'sex' feature back with the dataset
df_resampled = pd.concat([X_resampled, y_resampled], axis=1)

# Check the new sex distribution
print("Resampled sex distribution:")
print(df_resampled['sex'].value_counts())

Resampled sex distribution:
0.0    586
1.0    586
Name: sex, dtype: int64